footer{
    padding: 2%;
}

.carousel-inner img{
    height: 45em;

}

 #conteudo-home{
    padding: 2%;
 }

 .card{
    margin: 1em;
 }

 #recuperacao{
    text-decoration: none;
 }

 .border-success{
   border-color: rgba(var(--bs-sucess-rgb),var(--bs-border-opacity))!important;
   --bs-border-opacity: 0.1;
   --bs-sucess-rgb: #fff;
 }
 #cadastro{
   color: #000;
   font-weight: bold;
 }
 #cadastroBody{
   background-image: linear-gradient(45deg, rgb(161, 25, 25),rgb(223, 69, 35),rgb(101, 8, 66) );
   background-repeat: no-repeat;
   background-size: 100%;
   background-color: rgb(181, 181, 181);
   background-size: 500%, 100%;
   animation: degrade 5s infinite alternate;
 }

@keyframes degrade {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 100%;
  }
}

.carousel-control-next-icon{
  box-shadow: #000;
}

a.nav-link{
  color: rgb(197, 197, 197);
}

a.nav-link.active{
  color: rgb(243, 243, 243);
}

a.nav-link:hover{
  color: rgb(243, 243, 243);
}
